body {
    background-color: #fff7e5;
  }
  
  .sidebar {
    background-color: #859766;
    width: 300px; /* Adjusted width */
    max-height: 100%; /* Adjusted height */
    overflow-y: auto; /* Added scroll bar */
    position: fixed;
    top: 0;
    bottom: 0;
  }
  
  .nav-link {
    color: #fff;
    font-size: 18px;
  }
  
  .nav-link:hover,
  .nav-link:focus {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.2);
  }
  
  .sidebar .nav-item.active .nav-link {
    background-color: rgba(255, 255, 255, 0.1);
  }
  
  .sidebar .nav-link.collapsed::after {
    display: none; /* Removed arrow */
  }
  
  .sidebar .nav-link i {
    margin-right: 5px;
  }

  .logo {
    max-width: 100%;
    height: auto;
    margin: 20px auto; /* Adjusted margin */
    display: block;
    width: 250px; /* Adjusted width */
    position: fixed; /* Added position: fixed */
    top: 20px;
    left: 25px;
  }

  .content {
    margin-top: 40px; /* Adjusted margin-top to accommodate the logo */
  }

  ::-webkit-scrollbar {
    width: 8px;
    background-color: #859766; /* Changed scrollbar background color */
    padding-left: 10px; /* Added padding to the left side of the scrollbar */
  }

  ::-webkit-scrollbar-thumb {
    background-color: #494b42;
    border-radius: 4px;
  }

  .search-container {
    margin-bottom: 20px;
    margin: top 0; ;
    display: flex;
    padding: 20%;
    justify-content: space-between;
    padding-bottom: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .search-container input[type="text"] {
    border-radius: 20px;
    padding-left: 5%;
    border: 1px solid black; /* Set the default border color */
    transition: border-color 0.3s;
  }

  .search-container input[type="text"]:focus {
    border-color: black;
    color: #494b42;
  }

  .btn-primary {
    background-color: #859766;
    border-color: #fff7e5;
    border-radius: 20px;
  }

  .btn-primary:hover {
    background-color: #494b42;
  }


  .card-box {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px; /* Reduced the padding value to make it smaller */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
  }

  .card-box:hover {
    background-color: #494b42;
    color: #fff;
  }

  .section2 {
    padding-left: 5.6%;
  }